
input[type="checkbox"] {
    display:none;
}


input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    background: rgb(150,150,150);
}

input[type="checkbox"]:checked + label span {
	background: url('../images/checked.png');
}

input[type="checkbox"].small + label span{
	transform: scale(0.6);
	margin-bottom: -4px;
}


.category-header{
	 font-weight: bolder;	
}
.children-div{
	margin-left: 40px;
	margin-bottom: 5px;

}
.save-button{
	float: left;
	width: 20px;
	height: 20px;
	font-size: 1.2em;
	background:rgb(40,40,40);
	padding:2px;
	border-radius:2px;
	cursor:pointer;
	color: rgb(255,168,48);
}
